<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="Momotarou" Manufacturer="Tu Nguyen" Version="1.0.0" UpgradeCode="ea8657ca-05af-4381-b3ec-b6e2e4af99e9" Scope="perUser">
  <Upgrade Id='ea8657ca-05af-4381-b3ec-b6e2e4af99e9'>
    <UpgradeVersion OnlyDetect='yes' Property='NEWERFOUND'
      Minimum='1.0.0' IncludeMinimum='no' />
  </Upgrade>
    <CustomAction Id='AlreadyUpdated' Error='[ProductName] is already installed.' />
    <CustomAction Id='NoDowngrade' Error='A later version of [ProductName] is already installed.' />
    <Feature Id="Main">
      <ComponentGroupRef Id="AppComponents" />
      <ComponentRef Id="NodeEditorShortcuts"/>
      <ComponentRef Id="ToolsViewerShortcuts"/>
      <ComponentRef Id="ProgramMenuDirNodeEditor"/>
      <ComponentRef Id="ProgramMenuDirToolsViewer"/>
    </Feature>
    <ui:WixUI
        Id="InstallDir_NoLicense"
        InstallDirectory="INSTALLFOLDER"
        />
    <WixVariable
      Id="WixUIBannerBmp"
      Value="NodeEditor\icons\installer_banner.png"
    />
    <WixVariable
      Id="WixUIDialogBmp"
      Value="NodeEditor\icons\installer_dlg.png"
    />
    <Property
      Id="WIXUI_EXITDIALOGOPTIONALTEXT"
      Value="Thank you for installing my precious product."
    />
    <MediaTemplate EmbedCab="yes" />
    <InstallExecuteSequence>
      <Custom Action="NoDowngrade" After="FindRelatedProducts" Condition="NEWERFOUND"/>
    </InstallExecuteSequence>
  </Package>
</Wix>
